<footer>
<div class="ink-grid">
    <div class="column-group">
        <nav class="large-50 medium-50 small-100 ink-navigation push-left">
            <ul class="menu horizontal">
                <li class="active"><a href="https://twitter.com/celso"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="https://github.com/celso/ghink"><span class="icon-github-alt"></span></a></li>
                <li><a href="/feed.xml"><span class="icon-rss"></span></a></li>
                <li><a href="/pages/contacts.html"><span class="icon-envelope"></span></a></li>
            </ul>
        </nav>
        <div class="large-50 medium-50 hide-small footer-logos">
            <a class="push-right" href="http://ink.sapo.pt/">
                <img src="/img/poweredbyink.png">
            </a>
        </div>
    </div>
</div>
</footer>
{% if site.disqus_shortname %}
    {% include disqus_count.html shortname=site.disqus_shortname %}
{% endif %}
{% if site.ga_domain %}
    {% include ga.html domain=site.ga_domain id=site.ga_id %}
{% endif %}
